.Skill {
    display: flex;
    margin: 20px 0px;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #7a7a7a;
    height: 35px;
    width: 100%;

    .label {
        color: #989898;
        background-color: #4b4b4b;
        padding: 15px;
        font-size: larger;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .bar {
        background-color: #606060;
    }
}